*.out
pgo_temppy
temp_outputs
.ipynb_checkpoints
__pycache__
*.h5
!all_errs/**/*.h5
slurm_new/*.out
slurm_della/*.out
slurm/*.out
slurm_grid/*.out
notebook_misc/molecule_space/*.ascii
make_PCA_plot.ipynb
emcee_analysis_joint_with_geometry_plots_update_units.ipynb
demo_data
